*, ul, ol, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Ubuntu", sans-serif;
  background: #F5F5F5;
}

.container {
  padding: 0;
}

header {
  background: #F2F5F7;
}
header .row {
  align-items: center;
  padding: 23px 0;
  margin: 0;
}
header .row .logo {
  width: 207px;
  height: 39.77px;
  padding: 0;
}
header .row .header_form {
  display: flex;
  position: relative;
}
header .row .search_button {
  background-color: transparent;
  position: absolute;
  border: none;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .row .search_button.active svg path {
  transition: 0.3s all ease;
  stroke: #62BB38;
}
header .row .search {
  position: relative;
  background: #FFFFFF;
  height: 40px;
  border: none;
  border-radius: 0;
  padding: 0 0 0 17px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2E2E2E;
  outline: none;
  box-shadow: none;
}
header .row .search::placeholder {
  padding: 0 0px 0px 15px;
  color: #8A8A8A;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
header .row .header_contact {
  justify-content: flex-end;
  padding: 0;
}
header .row .header_contact a {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2E2E2E;
  text-decoration: none;
  justify-content: end;
}

.header_bottom {
  background: #FFFFFF;
  padding: 20px 0;
  font-family: "Roboto Condensed";
}
.header_bottom ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.header_bottom ul a {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #2E2E2E;
  text-decoration: none;
  transition: 0.3s all ease;
}
.header_bottom ul a:hover {
  color: #62BB38;
}
.header_bottom .basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_bottom .basket span {
  padding: 0 4px 0 10px;
  color: #62BB38;
}
.header_bottom .basket .products_count {
  display: flex;
  color: #2E2E2E;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s all ease;
}
.header_bottom .basket .products_count:hover {
  color: #8A8A8A;
}
.header_bottom .basket .products_count .active path {
  transition: 0.3s all ease;
  fill: #8A8A8A;
}
.header_bottom .basket .profil .active path {
  transition: 0.3s all ease;
  fill: #8A8A8A;
}

.hero {
  font-family: "Roboto Condensed";
  background-image: url(../images/hero_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 88px 0 59px 0;
}
.hero .row .sale {
  font-family: "Roboto Condensed";
  display: inline;
  font-weight: 700;
  font-size: 24px;
  line-height: 143.19%;
  padding: 4px 12px 7px 12px;
  background-color: #FFB800;
}
.hero .row .section_title {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: #FFFFFF;
  padding: 28px 0 0 0;
}
.hero .row .title_small {
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-size: 48px;
  line-height: 120%;
  color: #FFFFFF;
}
.hero .row .section_description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  padding: 21px 0 26px;
}
.hero .row .more {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 16px;
  line-height: 143.19%;
  color: #FFFFFF;
  padding: 14px 73px 8px 91px;
  background: #002809;
  text-decoration: none;
  transition: 0.3s all ease;
}
.hero .row .more img {
  padding-left: 17px;
}
.hero .row .more:hover {
  background: #165624;
}
.hero .row .hero_hero {
  width: 350px;
  height: 431px;
}

.advantage {
  font-family: "Roboto";
  background: #F2F5F6;
}
.advantage .row {
  justify-content: space-around;
  padding: 30px 0;
}
.advantage .row .advantage_item {
  display: flex;
  gap: 22px;
  border-right: 1px solid #D2D8DA;
  padding: 0 0px;
}
.advantage .row .advantage_item .advantage_title {
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #2E2E2E;
}
.advantage .row .advantage_item .advantage_description {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #2E2E2E;
}
.advantage .row .advantage_item:first-child {
  border-left: 1px solid #D2D8DA;
  padding: 0 10px 0 20px;
}

.products {
  background-color: #fff;
  padding-bottom: 100px;
}
.products .row {
  padding-top: 89px;
  display: flex;
  align-items: flex-start;
}
.products .menu {
  font-family: "Roboto Condensed";
  padding: 0;
}
.products .menu ul {
  display: flex;
  flex-direction: column;
  border: 6px solid #002809;
  list-style: none;
  gap: 24px 0;
  padding: 30px 0 20px 18px;
}
.products .menu ul li {
  border-bottom: 1px solid #EAEAEA;
  padding: 0 0 10px 0;
}
.products .menu ul li:last-child {
  border: none;
}
.products .menu ul a {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #002809;
  text-decoration: none;
}
.products .menu ul a span {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #8A8A8A;
}
.products .menu ul a:focus {
  color: #62BB38;
}
.products .menu .filter {
  border: 6px solid #EAEAEA;
  margin: 21px 0 0 0;
  padding: 43px 25px 29px 22px;
}
.products .menu .filter .filter_name {
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #002809;
}
.products .menu .filter .inputs {
  display: flex;
  gap: 0 10px;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #2E2E2E;
  padding: 24px 0 37px 0;
}
.products .menu .filter .inputs label {
  display: block;
  position: relative;
  padding-left: 22px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.products .menu .filter .inputs label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.products .menu .filter .inputs .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #EAEAEA;
}
.products .menu .filter .inputs label:hover input ~ .checkmark {
  background-color: #ccc;
}
.products .menu .filter .inputs label input:checked ~ .checkmark {
  background-color: #62BB38;
}
.products .menu .filter .inputs .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.products .menu .filter .inputs label input:checked ~ .checkmark:after {
  display: block;
}
.products .menu .filter .inputs label .checkmark:after {
  left: 5px;
  top: 3px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0px 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.products .menu .filter .inputs .input_block {
  display: flex;
  flex-direction: column;
}
.products .menu .filter .myrange {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #62BB38;
  border-radius: 3px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin: 13px 0 18px 0;
}
.products .menu .filter .myrange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #62BB38;
  cursor: pointer;
}
.products .menu .filter .myrange::-moz-range-thumb {
  width: 17px;
  height: 17px;
  background: #62BB38;
  cursor: pointer;
}
.products .menu .filter .price {
  display: flex;
  gap: 15px;
  align-items: center;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2E2E;
  margin: 0 0 44px 0;
}
.products .menu .filter .price .price_item {
  background: #EAEAEA;
  padding: 13px 16px 9px 15px;
}
.products .menu .filter .apply {
  text-decoration: none;
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #002809;
  padding: 12px 63px;
}
.products .products_block {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 0;
  padding-top: 0;
  padding-bottom: 0;
}
.products .product_item {
  display: flex;
  flex-direction: column;
  transition: 0.4s all ease;
  margin: 0 0 0 0px;
  padding-bottom: 39px;
}
.products .product_item .product_header {
  display: flex;
  align-items: center;
  align-items: flex-start;
}
.products .product_item .product_header .product_status {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: -32px;
  z-index: 2;
}
.products .product_item .product_header .product_status .status_item {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  background-color: #6943FF;
  align-items: center;
  text-align: center;
  padding: 14px 8px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  gap: 5px 0;
}
.products .product_item .product_header .product_status .status_item.hot {
  background-color: #CB89FF;
}
.products .product_item .product_header .product_status .status_item.new {
  background-color: #C9EA00;
}
.products .product_item .product_header img {
  width: 220px;
  height: 220px;
}
.products .product_item .product_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 31px 0 0 0;
  height: 259px;
}
.products .product_item .product_footer .product_title {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #2E2E2E;
}
.products .product_item .product_footer .old_price {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  text-decoration-line: line-through;
  color: #8A8A8A;
  padding: 0 0 8px 0;
}
.products .product_item .product_footer .new_price {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #2E2E2E;
  padding: 0 0 29px 0;
}
.products .product_item .product_footer .buy {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 13px 33px;
  background: #62BB38;
  text-decoration: none;
  transition: 0.3s all ease;
}
.products .product_item .product_footer .buy:hover {
  background: #85D360;
}
.products .product_item:hover {
  transition: 0.4s all ease;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.1);
}

.reviews {
  background-image: url(../images/reviews_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 72px;
}
.reviews .section_title {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #FFFFFF;
  padding: 75px 0;
}
.reviews .section_title span {
  color: #FFB800;
}
.reviews .swiper {
  width: 100%;
  height: 100%;
}
.reviews .swiper .swiper_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews .swiper .swiper_top .swiper_button {
  display: flex;
  justify-content: flex-end;
  gap: 23px;
}
.reviews .swiper .swiper_top .swiper_button .swiper_button_next {
  transform: rotate(180deg);
}
.reviews .swiper .swiper_top .swiper_button svg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FFB800;
  padding: 19px 17px 18px 16px;
  transition: 0.3s all ease;
}
.reviews .swiper .swiper_top .swiper_button_prev:hover svg,
.reviews .swiper .swiper_top .swiper_button_next:hover svg {
  background-color: #FFD464;
}
.reviews .swiper .swiper_top .swiper-button-next::after {
  background-position: right;
  transform: translate(180deg);
}
.reviews .swiper .swiper-wrapper {
  margin: 0 0 71px 0;
  display: flex;
}
.reviews .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  opacity: 0.3;
  transition: 0.3s all ease;
}
.reviews .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #FFB800;
  scale: 1.364;
  opacity: 1;
  transition: 0.3s all ease;
}
.reviews .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  align-items: flex-start;
  background-image: url(../images/slider_bg.svg);
  background-repeat: no-repeat;
  background-position: right;
  padding: 46px 16px 42px 30px;
  font-family: "Roboto";
  gap: 0 40px;
  height: 313px;
}
.reviews .swiper-slide .buyer img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #62BB38;
}
.reviews .swiper-slide .buyer .buyer_name {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #2E2E2E;
  padding: 6px 0 15px 0;
}
.reviews .swiper-slide .buyer .review_date {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #8A8A8A;
  padding: 0 0 17px 0;
}
.reviews .swiper-slide .comment {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #2E2E2E;
  text-align: left;
}
.reviews .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.why {
  padding: 78px 0 88px 0;
}
.why .section_title {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #2E2E2E;
  padding: 75px 0;
}
.why .section_title span {
  color: #FFB800;
}
.why .row {
  border: 6px solid #EAEAEA;
  padding: 36px 26px 55px 26px;
}
.why .row .why_item {
  text-align: center;
  border-right: 1px solid #EAEAEA;
}
.why .row .why_item img {
  padding-bottom: 42px;
}
.why .row .why_item .why_name {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #2E2E2E;
}
.why .row .why_item:last-child {
  border-right: none;
}

footer {
  background-color: #fff;
}
footer .footer_row {
  background-image: url(../images/footer_bg.png);
  background-repeat: no-repeat;
  background-position: center;
}
footer .footer_row .footer_left {
  display: flex;
  gap: 40px;
  align-items: center;
}
footer .footer_row .footer_left img {
  border-radius: 50%;
  border: 3px solid #62BB38;
  padding: 18px 24px 26px 21px;
}
footer .footer_row .footer_left .section_title {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: #FFFFFF;
}
footer .footer_row .footer_right {
  padding: 33px 0 32px 42px;
}
footer .footer_row .footer_right .footer_description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  padding: 0 0 18px 0;
}
footer .footer_row .footer_right .footer_contact {
  display: flex;
  gap: 17px;
}
footer .footer_row .footer_right .footer_contact .tel_number {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
  text-decoration: none;
}
footer .footer_links {
  display: flex;
  justify-content: space-between;
}
footer .footer_links a {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #8A8A8A;
  text-decoration: none;
  padding: 43px 0 46px 0;
  transition: 0.3s all ease;
}
footer .footer_links a:hover {
  color: #62BB38;
}

.filter_hero {
  background-image: url(../images/filter_hero_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.filter_hero .row {
  align-items: center;
  margin: 0;
  padding: 24px 0 22px 0;
}
.filter_hero .row .col-5, .filter_hero .row .col-3 {
  padding: 0;
  margin: 0;
}
.filter_hero .row .sale {
  font-family: "Roboto Condensed";
  display: inline;
  font-weight: 700;
  font-size: 24px;
  line-height: 143.19%;
  padding: 4px 12px 7px 12px;
  background-color: #FFB800;
  margin-top: 34px;
}
.filter_hero .row .section_title {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: #FFFFFF;
  padding: 11px 0 0 0;
}
.filter_hero .row .title_small {
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-size: 48px;
  line-height: 120%;
  color: #FFFFFF;
}
.filter_hero .row .more {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 16px;
  line-height: 143.19%;
  color: #FFFFFF;
  padding: 14px 73px 8px 91px;
  background: #002809;
  text-decoration: none;
  transition: 0.3s all ease;
}
.filter_hero .row .more img {
  padding-left: 17px;
}
.filter_hero .row .more:hover {
  background: #165624;
}

.content {
  background-color: #fff;
  padding: 0 0 78px 0;
}
.content .breadcrumb {
  display: flex;
  align-items: center;
  margin-bottom: 78px;
}
.content .breadcrumb li a {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #FFFFFF;
  text-decoration: none;
}
.content .breadcrumb li:first-child {
  background: url(../images/breadcrumbUnion.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 7px 16px 7px 13px;
}
.content .breadcrumb .last {
  background: url(../images/breadcrumbUnion2.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 7px 13px 7px 22px;
}
.content .breadcrumb p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #8A8A8A;
  padding-left: 5px;
}
.content .row {
  padding: 0;
  margin: 0;
}
.content .row .images_block {
  border-bottom: 1px solid #EAEAEA;
}
.content .row .product_header {
  display: flex;
  align-items: center;
  align-items: flex-start;
}
.content .row .product_header .product_status {
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 2;
}
.content .row .product_header .product_status .status_item {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  background-color: #6943FF;
  align-items: center;
  text-align: center;
  padding: 18px 8px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  gap: 5px 0;
}
.content .row .product_images {
  display: flex;
  gap: 15px;
  align-items: center;
}
.content .row .product_images img {
  border: 1px solid #EAEAEA;
  width: 78px;
  height: 78px;
}
.content .row .product_images img:first-child {
  border: 2px solid #62BB38;
}
.content .row .product_name {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  color: #2E2E2E;
}
.content .row .banket_informations {
  display: flex;
  gap: 86px;
  padding: 60px 0 28px 0;
  border-bottom: 1px solid #EAEAEA;
}
.content .row .banket_informations .information_item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #8A8A8A;
}
.content .row .banket_informations .information_item span {
  color: #2E2E2E;
}
.content .row .properties_text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #8A8A8A;
  padding: 25px 0 0 0;
}
.content .row .properties {
  display: flex;
  list-style: none;
  gap: 18px;
  padding: 20px 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #2E2E2E;
}
.content .row .properties li {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.content .row .show_more {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #62BB38;
}
.content .row .buy_block {
  font-family: "Roboto";
  justify-content: space-between;
  align-items: center;
  border: 6px solid #EAEAEA;
  padding: 40px;
  margin: 25px 0 0 0;
}
.content .row .buy_block .buy_item {
  padding: 0;
}
.content .row .buy_block .price {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #8A8A8A;
}
.content .row .buy_block .price span {
  font-size: 20px;
  color: #8A8A8A;
  text-decoration: line-through;
}
.content .row .buy_block .sale {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #8A8A8A;
}
.content .row .buy_block .sale span {
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  color: #2E2E2E;
  text-decoration: none;
}
.content .row .buy_block .buy {
  background: #62BB38;
  padding: 20px 90px;
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFF;
  text-decoration: none;
}
.content .row .buy_block .buy img {
  padding-right: 13px;
}
.content .row .links {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 10px;
  padding: 45px 0 0 0;
}
.content .row .links .link {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #62BB38;
  border: 1px solid #62BB38;
  border-radius: 20px;
  padding: 8px 14px;
}
.content .contacts {
  padding: 32px 0 0 0;
}
.content .contacts a {
  text-decoration: none;
}
.content .contacts a img {
  padding-left: 10px;
}

.filter_advantage {
  background-color: #fff;
}
.filter_advantage .advantage_row {
  display: flex;
  justify-content: space-between;
  background: #FFB800;
  padding: 26px 58px 22px 28px;
}
.filter_advantage .advantage_row .advantage_item {
  text-align: center;
  border-right: 1px solid #FFCF52;
  padding: 0 12px;
}
.filter_advantage .advantage_row .advantage_item .advantege_name {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #002809;
  padding-top: 11px;
}
.filter_advantage .advantage_row .advantage_item:last-child {
  border: none;
  padding: 0;
}

.feature {
  padding: 100px 0;
  background-color: #fff;
}
.feature .row .row_item {
  text-align: center;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
  padding: 15px 0 20px 0;
}
.feature .row .left {
  background: #002809;
  position: relative;
}
.feature .row .left::after {
  display: block;
  position: absolute;
  content: url(../images/feature_row_left_element.png);
  bottom: -16px;
  margin: 0 auto;
  width: 100%;
}
.feature .row .right {
  background: #62BB38;
}
.feature .table {
  margin: 35px 0;
}
.feature .table tr td:first-child {
  width: 337px;
}
.feature .show_more {
  display: block;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #2E2E2E;
  text-decoration: none;
  text-align: center;
  border: 2px solid #EAEAEA;
  padding: 24px 0;
  transition: 0.3s all ease;
}
.feature .show_more img {
  padding-left: 38px;
}
.feature .show_more:hover {
  border: 2px solid #8A8A8A;
}

.new_products {
  background-color: #fff;
  padding-bottom: 85px;
}
.new_products .section_title {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #2E2E2E;
  padding: 75px 0;
}
.new_products .section_title span {
  color: #FFB800;
}
.new_products .swiper {
  width: 100%;
  height: 100%;
}
.new_products .swiper .swiper_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new_products .swiper .swiper_top .swiper_button {
  display: flex;
  justify-content: flex-end;
  gap: 23px;
}
.new_products .swiper .swiper_top .swiper_button .swiper_button_next {
  transform: rotate(180deg);
}
.new_products .swiper .swiper_top .swiper_button svg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FFB800;
  padding: 19px 17px 18px 16px;
  transition: 0.3s all ease;
}
.new_products .swiper .swiper_top .swiper_button_prev:hover svg,
.new_products .swiper .swiper_top .swiper_button_next:hover svg {
  background-color: #FFD464;
}
.new_products .swiper .swiper_top .swiper-button-next::after {
  background-position: right;
  transform: translate(180deg);
}
.new_products .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.new_products .swiper .swiper-slide .product_item {
  display: flex;
  flex-direction: column;
  transition: 0.4s all ease;
  margin: 0 0 0 0px;
  padding-bottom: 39px;
}
.new_products .swiper .swiper-slide .product_item .product_header {
  display: flex;
  align-items: center;
  align-items: flex-start;
}
.new_products .swiper .swiper-slide .product_item .product_header .product_status {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: -32px;
  z-index: 2;
}
.new_products .swiper .swiper-slide .product_item .product_header .product_status .status_item {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  background-color: #6943FF;
  align-items: center;
  text-align: center;
  padding: 14px 8px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  gap: 5px 0;
}
.new_products .swiper .swiper-slide .product_item .product_header .product_status .status_item.hot {
  background-color: #CB89FF;
}
.new_products .swiper .swiper-slide .product_item .product_header .product_status .status_item.new {
  background-color: #C9EA00;
}
.new_products .swiper .swiper-slide .product_item .product_header img {
  width: 220px;
  height: 220px;
}
.new_products .swiper .swiper-slide .product_item .product_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 31px 0 0 0;
  height: 259px;
}
.new_products .swiper .swiper-slide .product_item .product_footer .product_title {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #2E2E2E;
}
.new_products .swiper .swiper-slide .product_item .product_footer .old_price {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  text-decoration-line: line-through;
  color: #8A8A8A;
  padding: 0 0 8px 0;
}
.new_products .swiper .swiper-slide .product_item .product_footer .new_price {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #2E2E2E;
  padding: 0 0 29px 0;
}
.new_products .swiper .swiper-slide .product_item .product_footer .buy {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 13px 33px;
  background: #62BB38;
  text-decoration: none;
  transition: 0.3s all ease;
}
.new_products .swiper .swiper-slide .product_item .product_footer .buy:hover {
  background: #85D360;
}
.new_products .swiper .swiper-slide .product_item:hover {
  transition: 0.4s all ease;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.1);
}
.new_products .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dostavka {
  padding: 78px 0 82px 0;
  background-image: url(../images/dostavka_bg.png);
  background-repeat: no-repeat;
  background-position: center;
}
.dostavka .section_title {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #FFFFFF;
  padding: 0 0 80px 0;
}
.dostavka .row {
  gap: 20px;
}
.dostavka .row .row_item {
  width: calc(50% - 10px);
  display: flex;
  padding: 40px 52px 40px 40px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  gap: 36px;
}
.dostavka .row .row_item .item_name {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #FFFFFF;
}
.dostavka .row .row_item .item_description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
}

.questions {
  background-color: #fff;
  padding-top: 100px;
}
.questions .form_block {
  border: 6px solid #002809;
  text-align: center;
  padding: 62px 0;
}
.questions .form_block .section_title {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #2E2E2E;
  text-align: center;
}
.questions .form_block .questions_form {
  padding: 57px 0 0 0;
  display: flex;
  justify-content: space-around;
}
.questions .form_block .row_item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  width: calc(33% - 40px);
}
.questions .form_block .row_item:last-child {
  gap: 12px;
}
.questions .form_block input {
  height: 60px;
  padding: 24px 0 27px 20px;
}
.questions .form_block input, .questions .form_block textarea, .questions .form_block button {
  border: none;
  background: #F2F5F6;
}
.questions .form_block input::placeholder, .questions .form_block textarea::placeholder, .questions .form_block button::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #8A8A8A;
}
.questions .form_block .comment {
  padding: 14px 0 0 27px;
  max-height: 140px;
  min-height: 140px;
}
.questions .form_block .footer_text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #2E2E2E;
  text-align: left;
}
.questions .form_block button {
  padding: 18px 0;
  background: #62BB38;
}

.why {
  background-color: #fff;
  padding-top: 87px;
}
.why .section_title {
  padding-top: 0;
}/*# sourceMappingURL=main.css.map */